@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "Dinfest1";
  src: url("../assets/fonts/dinfest.otf") format("opentype");
}

:root {
  --primary-color: #fcbb50;
  --secondary-color: #90c09e;
  --accent-color: #f75b5b;
  --text-color: #232b2e;
  --border-color: var(--text-color);
  --box-shadow-color: #29383b;

  --main-bg-color: #ebdfaf;
  --pri-bg-color: rgba(252, 187, 80, 15%);
  --sec-bg-color: rgba(144, 192, 158, 15%);
  --acc-bg-color: rgba(247, 91, 91, 15%);

  --pri-hvr-color: #d69d42;
  --sec-hvr-color: #6d9e7c;
  --ter-hvr-color: rgba(219, 162, 69, 0.2);
  --acc-hvr-color: #cb4a4a;
  --text-hvr-color: #141d1e;

  --display-font: "Dinfest1";
  --body-text-font: "Rubik";

  --display-size: 14rem;
  --h1-size: 4rem;
  --h2-size: 2rem;
  --h3-size: 1.25rem;
  --body-text-size: 1rem;

  /* for margins and paddings */
  --section-spacing: 8em;
  --xl-spacing: 6em;
  --large-spacing: 4em;
  --semi-large-spacing: 3em;
  --medium-spacing: 2em;
  --small-spacing: 1em;
  --tiny-spacing: 0.5em;

  --body-text-line-height: 1.5em;

  --button-hover-animation: cubic-bezier(0.4, 0.575, 0.5, 0.8) 0.3s;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--body-text-font);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--col {
  flex-direction: column;
}

.flex--row {
  flex-direction: row;
}

.default-line-height {
  line-height: var(--body-text-line-height);
}

.display-size {
  font-size: var(--display-size);
}

.h1-size {
  font-size: var(--h2-size);
}

.h2-size {
  font-size: var(--h2-size);
}

.h3-size {
  font-size: var(--h3-size);
}

.btn {
  border: 2px solid var(--border-color);
  border-radius: 1em;
  box-shadow: 4px 4px 0 var(--box-shadow-color);
  color: var(--text-color);
  cursor: pointer;
  font-weight: 500;
  padding: 1em var(--medium-spacing);
  text-align: center;
  text-decoration: none;
  transition: var(--button-hover-animation);
  width: -moz-fit-content;
  width: fit-content;
}

.btn--primary {
  background-color: var(--accent-color);
}

.btn--primary:hover {
  background-color: var(--acc-hvr-color);
  color: var(--text-hvr-color);
}

.btn--secondary {
  background-color: var(--sec-color);
}

.btn--secondary:hover {
  background-color: var(--sec-hvr-color);
  color: var(--text-hvr-color);
}

.btn--tertiary {
  box-shadow: none;
  border: none;
  background-color: var(--pri-bg-color);
}

.btn--tertiary:hover {
  background-color: var(--ter-hvr-color);
  color: var(--text-hvr-color);
}

.btn--icon {
  border: none;
  box-shadow: none;
  background-color: var(--ter-hvr-color);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn__icon--small {
  width: 24px;
}

.btn--gap {
  gap: var(--small-spacing);
}

.modal {
  margin: auto;
  border: var(--border-color) 2px solid;
  box-shadow: 0.25em 0.25em 0 var(--box-shadow-color);
  border-radius: var(--small-spacing);
  padding: var(--small-spacing);
  background-color: var(--main-bg-color);
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.35);
}

.modal--submit {
  padding: 0;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--small-spacing);
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal__header--pri {
  background-color: var(--primary-color);
}
