body {
  --primary-color: #fcbb50;
  --secondary-color: #90c09e;
  --accent-color: #f75b5b;
  --text-color: #232b2e;
  --border-color: var(--text-color);
  --box-shadow-color: #29383b;

  --main-bg-color: #ebdfaf;
  --pri-bg-color: rgba(252, 187, 80, 15%);
  --sec-bg-color: rgba(144, 192, 158, 15%);
  --acc-bg-color: rgba(247, 91, 91, 15%);

  --pri-hvr-color: #d69d42;
  --sec-hvr-color: #6d9e7c;
  --ter-hvr-color: rgba(219, 162, 69, 0.2);
  --acc-hvr-color: #cb4a4a;
  --text-hvr-color: #141d1e;

  --display-font: "Dinfest1";
  --body-text-font: "Rubik";

  --display-size: 14rem;
  --h1-size: 4rem;
  --h2-size: 2rem;
  --h3-size: 1.25rem;
  --body-text-size: 1rem;

  /* for margins and paddings */
  --section-spacing: 8em;
  --xl-spacing: 6em;
  --large-spacing: 4em;
  --semi-large-spacing: 3em;
  --medium-spacing: 2em;
  --small-spacing: 1em;
  --tiny-spacing: 0.5em;

  --body-text-line-height: 1.5em;

  --button-hover-animation: cubic-bezier(0.4, 0.575, 0.5, 0.8) 0.3s;
}

main {
  height: calc(100vh - var(--medium-spacing));
  margin: var(--small-spacing) var(--section-spacing);
}

.study-set__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.study-set {
  background-color: var(--pri-bg-color);
  margin-top: var(--medium-spacing);
  height: 80vh;
  border-radius: var(--small-spacing);
}

.study-set__collection {
  width: calc(100% - var(--large-spacing));
  height: calc(100% - var(--large-spacing));
}

.initial-CTA__info {
  margin-top: var(--medium-spacing);
  margin-bottom: var(--small-spacing);
  width: 45ch;
  text-align: center;
}
