:root {
  --primary-color: #fcbb50;
  --secondary-color: #90c09e;
  --accent-color: #f75b5b;
  --text-color: #232b2e;
  --border-color: var(--text-color);
  --box-shadow-color: #29383b;

  --main-bg-color: #ebdfaf;
  --pri-bg-color: rgba(252, 187, 80, 15%);
  --sec-bg-color: rgba(144, 192, 158, 15%);

  --hover-primary-color: #d69d42;
  --hover-secondary-color: #6d9e7c;
  --hover-tertiary-color: rgba(219, 162, 69, 0.2);
  --hover-accent-color: #cb4a4a;
  --hover-text-color: #141d1e;

  --display-font: "Dinfest1";
  --body-text-font: "Rubik";

  --display-size: 11rem;
  --h1-size: 4rem;
  --h2-size: 2rem;
  --h3-size: 1.25rem;
  --body-text-size: 1rem;

  --section-spacing: 8em;
  --xl-spacing: 6em;
  --large-spacing: 4em;
  --semi-large-spacing: 3em;
  --medium-spacing: 2em;
  --small-spacing: 1em;

  --body-text-line-height: 1.5em;

  --button-hover-animation: cubic-bezier(0.4, 0.575, 0.5, 0.8) 0.3s;
}

.demo-main {
  margin: var(--medium-spacing) 0;
  height: 75vh;
}

.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--pri-bg-color);
  border: 2px solid var(--border-color);
  border-radius: 2em;
  margin: 0 var(--section-spacing);
  /* padding: var(--small-spacing) var(--medium-spacing); */
  height: inherit;
}

.demo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: var(--primary-color);
  padding: var(--small-spacing) var(--medium-spacing);
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.demo__header h2 {
  font-size: var(--h2-size);
}

.demo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.demo__wrapper h3 {
  margin-top: var(--small-spacing);
  font-size: var(--h3-size);
}

.demo__wrapper p {
  line-height: var(--body-text-line-height);
  text-align: center;
  max-width: 45ch;
}

.open-modal__btn {
  margin-top: var(--small-spacing);
}

.modal {
  border: var(--border-color) 2px solid;
  box-shadow: 0.25em 0.25em 0 var(--box-shadow-color);
  border-radius: 1em;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.35);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  width: 100%;
  padding: var(--small-spacing) var(--medium-spacing);
}

.modal-header h3 {
  font-size: var(--h3-size);
}

.close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 24px;
}

.demo__modal-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: var(--main-bg-color);
}

.demo__modal-wrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: var(--medium-spacing);
}

.demo__modal-wrapper input[type="text"],
.demo__modal-wrapper textarea {
  background-color: var(--main-bg-color);
  border: 2px solid var(--border-color);
  border-radius: 1em;
  color: var(--text-color);
  padding: var(--small-spacing) var(--small-spacing);
  width: 40ch;
  margin-bottom: var(--small-spacing);
  resize: none;
}

.demo__modal-wrapper textarea {
  height: 10em;
  scroll-behavior: smooth;
}

.demo__modal-wrapper textarea::-webkit-scrollbar {
  display: none;
}

.create-btn {
  width: 100%;
  margin-top: var(--medium-spacing);
  outline: none;
}

.form-response {
  display: none;
  padding: var(--small-spacing);
  width: 100%;
  border-radius: var(--small-spacing);
  text-align: center;
}

.form-response.error {
  background-color: var(--acc-bg-color);
}

.form-response.error p {
  color: var(--accent-color);
}

.form-response.success {
  background-color: rgba(110, 221, 142, 0.15);
}

.form-response.success p {
  color: rgb(86, 144, 103);
}

.demo__collections {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  column-gap: var(--small-spacing);
  row-gap: var(--small-spacing);
  width: calc(100% - 4em);
  height: 100%;
  box-sizing: border-box;
  margin-block: var(--medium-spacing);
  overflow: auto;
  padding-right: 0.5em;
  /* background-color: #90c09e; */
}

.demo-collections__card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--pri-bg-color);
  border: var(--border-color) 1px solid;
  padding: var(--small-spacing);
  border-radius: 0.5em;
  cursor: pointer;
  height: 15em;
}

.study-set-name {
  font-size: var(--h3-size);
}

.study-set-desc {
  margin: var(--small-spacing) 0;
  font-size: var(--body-text-size);
  line-height: var(--body-text-line-height);
  opacity: 0.8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Number of lines to show before clipping */
  overflow: hidden;
}

.study-now {
  place-self: flex-end;
  margin-top: auto;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  border-radius: var(--small-spacing);
}

::-webkit-scrollbar-thumb {
  background-color: var(--hover-tertiary-color);
  border-radius: 1em;
}
